<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/task/add">
      <label>Add Task </label>
      <input type="text" name="addTask" placeholder="Enter a task to add to list">
      <input type="submit" value="Add">  
    </form>
    
    <form method="POST"  action="/task/delete">
      <ul>
        <% tasks.forEach(function(task){ %>
         <li>
           <label>
             <input type="checkbox" name="deleteTasks" class="del" value="<%= task %>">
              <span><%= task %></span></li>
           </label>
        
        <%});%>
      </ul>
      <input type="submit" value="Delete">
    </form>
    <br>
    <br>
    <h3>Events</h3>
    <ul>
        <% for(property in events ){ %>
         <li>
           <label>
             <%= property %>
           </label>:
           <label>
              <%= events[property] %>
            </label>
        <%};%>
      </ul>
      <br>
    <label>Add an event</label>
    <form method="POST" action="/event/add">
      <label for="what">What? </label><br>
      <input type="text" name="what"><br><br>
      <label for="when">When?</label><br>
      <input type="date" name="when"><br><br>
      <label for="when">Where? </label><br>
      <input type="text" name="where"><br><br>
      <input type="submit" value="Add">
    </form>
  </body>
</html>
